<footer>
  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <a href="https://github.com/giuseppeperna/angular-todo-list" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
      <a href="https://angular.io/" target="_blank" rel="noopener noreferrer"><i class="fab fa-angular"></i></a>
      <a href="https://www.linkedin.com/in/giuseppe-perna-70b75110b/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</footer>

