footer {
  background-color: #c6061c;
  padding: 20px 0;
  clear: both;
  position: relative;
  height: 100px;
  margin-top: -100px;
}

footer a {
  font-size: 50px;
  display: inline-block;
  color: #fff;
  border-radius:50%;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: .3s;
  margin-bottom: 30px;
}

footer a:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}
